.center-text {
  font-family: Helvetica;
  font-size: 100px;
  margin: 0px;
  margin-bottom: 10px;
  display: block;
  text-align: center;
}

.landing-image {
  width: 150px;
  display: block;
  margin-bottom: 50px;
}

.input-box {
  width: 150px;
  height: 30px;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  border: none;
  transition: .15s;
}

.input-box:hover {
  background-color: rgb(167, 167, 167);
  border: none;
}

.input-box:active {
  border: none;
}

.password-box {
  font-family: Helvetica;
  font-size: 50px;
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}